[submodule "CellModeller/third_party/glslang"]
	path = Backend/third_party/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "CellModeller/third_party/volk"]
	path = Backend/third_party/volk
	url = https://github.com/zeux/volk.git
[submodule "CellModeller/third_party/pybind11"]
	path = Backend/third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "CellModeller/third_party/Vulkan-Headers"]
	path = Backend/third_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
